<?xml version="1.0" encoding="utf-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-autowire="byName">

    <bean id="bizNewQuartzTaskScheduleExecutor" class="io.bitjob.biz.BizScheduleExecutorV2">
        <!--  <property name="bizTaskThreadPool" ref="bizTaskThreadPool" />
          <property name="threadProcessSize" value="10"/>
          <property name="selectTaskSize" value="200"/>-->
    </bean>

    <bean id="bizNewQuartzTaskHandler" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="bizNewQuartzTaskScheduleExecutor"/>
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="true"/>
    </bean>

    <bean id="bizNewQuartzCronTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="bizNewQuartzTaskHandler"/>
        <property name="repeatInterval" value="10000"/>
        <property name="startDelay" value="1000"/>
    </bean>

    <!-- 定时任务触发器 -->
    <bean id="bizNewQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="bizNewQuartzCronTrigger"/>
            </list>
        </property>
        <property name="autoStartup">
            <value>true</value>
        </property>
        <property name="schedulerName" value="最新版本的业务调度"/>
    </bean>

</beans>